@font-face {
  font-family: 'ctm-player';
  src: url('../../fonts/ctm-player.eot?7396899');
  src: url('../../fonts/ctm-player.eot?7396899#iefix') format('embedded-opentype'),
    url('../../fonts/ctm-player.woff2?7396899') format('woff2'),
    url('../../fonts/ctm-player.woff?7396899') format('woff'),
    url('../../fonts/ctm-player.ttf?7396899') format('truetype'),
    url('../../fonts/ctm-player.svg?7396899#ctm-player') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "ctm-player";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  position: relative;
  top: -.01em;
  left: -.01em;
  display: inline-block;
}

.icon-play:before {
  content: '\e800';
}

.icon-volume-off:before {
  content: '\e801';
}

.icon-volume-up:before {
  content: '\e802';
}

.icon-pause:before {
  content: '\e803';
}

.icon-stop:before {
  content: '\e804';
}

.icon-cog:before {
  content: '\e805';
}

.icon-music:before {
  content: '\e806';
}

.icon-ok:before {
  content: '\e807';
}
