/*
 * main.css -- CSS para el Reproductor HTML5 Universal
 *
 * @license Copyright 2013 - 2021 Felipe Peñailillo <fcpc.1984@gmail.com>
 *
 * Este programa es software libre; puede redistribuirlo y/o modificarlo bajo
 * los términos de la Licencia Pública General GNU tal como se publica por
 * la Free Software Foundation; ya sea la versión 3 de la Licencia, o
 * (a su elección) cualquier versión posterior.
 *
 * Este programa se distribuye con la esperanza de que le sea útil, pero SIN
 * NINGUNA GARANTÍA; sin incluso la garantía implícita de MERCANTILIDAD o
 * IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Vea la Licencia Pública
 * General de GNU para más detalles.
 *
 * Debería haber recibido una copia de la Licencia Pública General de GNU
 * junto con este programa; de lo contrario escriba a la Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA 02110-1301, EE. UU.
 */

.ctm-player-main button:focus {
  outline: 0;
}

.ctm-player-html5-player audio {
  width: 100%;
  max-width: 100%;
}

.ctm-player-main {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background: #f7f7f7;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0 0 1px #777;
}

.ctm-player-button {
  background: none;
  border: none;
  padding: 5px;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  border-radius: 4px;
  width: 2em;
  height: 2em;
  line-height: 1em;
}

.ctm-player-button:hover {
  background: #20639b;
  color: #fff;
}

.ctm-player-center-status {
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 5px;
  -ms-align-items: center;
  align-items: center;
}

.ctm-player-progress.ctm-player-playing-static {
  margin: 0 8px !important;
}

.ctm-player-progress {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  margin: 0 8px 0 3px;
}

.ctm-player-progress-download {
  background: #333;
  height: 10px;
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  overflow: hidden;
  grid-area: 1/1;
  z-index: 1;
}

.ctm-player-progress-download span {
  background: #aaa;
  position: relative;
}

.ctm-player-progress-bar {
  background: #20639b;
  height: 10px;
  grid-area: 1/1;
  z-index: 2;
  border-radius: 10px;
  width: 0%;
  position: relative;
}

.ctm-player-progress-bar.active {
  background: linear-gradient(90deg, #20639b 0%, #3896e6 50%, #20639b 100%);
  animation: moving-gradient 1s infinite linear;
  background-size: 50% 100%;
}

.ctm-player-progress-bar.ctm-player-playing-static:after {
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 2px #333;
  display: inline-block;
  position: absolute;
  right: -6px;
  content: " ";
  top: -2px;
}

.ctm-player-time {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #000;
}

.ctm-player-right-controls {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
}

.ctm-player-volume-slider {
  width: 75px;
  height: 10px;
  margin: 0 5px;
  -webkit-appearance: none;
  background: #333;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-self: center;
}

.ctm-player-volume-slider::-moz-range-thumb {
  background: #fff;
  height: 14px;
  width: 14px;
  border: none;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 2px #333;
}

.ctm-player-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 2px #333;
}

.ctm-player-source-select {
  position: absolute;
  background: #f7f7f7;
  color: #000;
  bottom: 2.5em;
  white-space: nowrap;
  right: -.5em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 4px;
  box-shadow: 0 0 1px #777;
}

.ctm-player-source-select-header {
  font-variant: small-caps;
  padding: 6px 12px;
  border-bottom: 1px solid #777;
}

.ctm-player-source-select-item {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.ctm-player-source-select-item:hover {
  background: #eee;
}

.ctm-player-source-select-item a {
  text-decoration: none;
  color: #000;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 6px 12px;
}

.ctm-player-source-select-item a span {
  flex-grow: 1;
}

@keyframes moving-gradient {
  0% { background-position: bottom left; }
  100% { background-position: bottom right; }
}
